#bg{
	position:  fixed;
	width: 102%;
	height:  102%;
	left: -1%;
	top: -1%;
	z-index: -1;
}
h3{
	font-size: 21px; 
	font-family: serif;
}
.bar{
	height: 10%;
	width: 100%;
	background-color: #e8e1d7;
	position: fixed;
	top: -1%;
	z-index: 0;
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #e8e1d7;
	z-index: 1;
}
/* menu bar */
#navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	vertical-align: text-bottom;
	background: #e8e1d7;
}
#navbar li {
	float: left;
}
#navbar li a {
	display: block;
	color: #211103;
	text-align: center;
	padding: 5px 70px;
	text-decoration: none;
}
#about{
	padding-top: 4px;
}
#navbar li a:hover {
	background-color: #bf9775;
}
/* all images here, first letter = row, second = order */
#aa{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-left: 1.3%;
}
#aa:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#ab{
	width: 17%;
	position: relative;
	margin: 1%;
}
#ab:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#ac{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-right: 1%;
}
#ac:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#ba{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-left: 1.3%
}
#ba:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#bb{
	width: 37%;
	position: relative;
	margin: 1%;
}
#bb:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#bc{
	width: 17%;
	position: relative;
	margin: 1%;
	padding-right: 1%;
}
#bc:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#ca{
	width: 17%;
	position: relative;
	margin: 1%;
	padding-left: 1.3%
}
#ca:hover{
	opacity: 0.7;
	filter: sepia(100%) brightness(85%);
}
#cb{
	width: 37%;
	position: relative;
	margin: 1%;
}
#cb:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#cc{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-right: 1%;
}
#cc:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#da{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-left: 1.3%
}
#da:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#db{
	width: 17%;
	position: relative;
	margin: 1%;
}
#db:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
#dc{
	width: 37%;
	position: relative;
	margin: 1%;
	padding-right: 1%;
}
#dc:hover{
	opacity: 0.7;
	filter: sepia(100%);
}
h1{
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	font-size: 300%;
}
p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-align: center;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2%;
}
#aa-image{
	display: block;
	align-items: center;
	width:40%;
	margin-left: auto;
	margin-right: auto;
}